:root{
  font-family: Sans-Serif;
  font-size: 20px;
  transition: all 1s;
}
h1{
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}
.app{
}

.sidenav{
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 150px;
  background:rgba(0);
  overflow: hidden;
}

.title{
  border-bottom: 5px solid black;
}

.chart{
  margin-left: 150px;
  height: 400px;
  width: 90%;
}

.usercontainer{
  margin-left: 150px;
  padding: 20px;
  grid-gap: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.macstuff{
  display: inline-block;
}
.portmenuitems{
  position: absolute;
  display: none;
  background-color: white;
  width: 100%;
  z-index: 1;
  border-bottom: 5px solid black;
}
.user:hover .portmenuitems{
  width: 100%;
  display: block;
}

.i{
  position: absolute;
  right: 0;
  top: -150px;
  font-size: 150px;
  color: rgba(0,0,0, 0.05);
  z-index: -1;
}
.user{
  position: relative;
  border-bottom: 5px solid black;
  text-align: right;
  font-weight: bold;
}

.valid{
  color: blue;
}

.notValid{
  color: gray;
}
